aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
discord.py==1.5.0
idna==2.10
langdetect==1.0.8
loguru==0.5.3
lxml==4.5.2
multidict==4.7.6
PyExecJS==1.5.1
python-dotenv==0.14.0
requests==2.24.0
six==1.15.0
translators==4.7.4
urllib3==1.25.10
win32-setctime==1.0.3
yarl==1.6.0
